/*清除默认样式*/
body, h1, h2, h3, h4, h5, h6, p, div, ul, li, ol, dl, dt, dd, a, i, b, em, strong, img, span{ margin:0; padding:0; }
a{ text-decoration:none; }
ul,ol,dl,li{ list-style:none; }
img{ border:none;vertical-align:top; display:block; }
input,textarea{ outline:none; }

.fl{ float:left; }
.fr{ float:right; }
.clearFix:after{ content:''; clear:both; display:block; }
.clearFix{ zoom:1; }

html{ font-size: 20px; }
.wrapper{ width: 15rem; margin: 0 auto; }
